body {
  background-color: #e2bf6754;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 25px;
  padding: 25px;
  border: 2px solid black;
  border-radius: 10px;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App.is-checking {
  pointer-events: none;
}